<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>structure_title article_type</title>
    <script type="text/javascript">
      $(function() {
        $("#navigation").load("/navigation.html");
      });
    </script>
  </head>
  <body>
    <div id="navigation"></div>
    <center>
      <h1 class="feature-header">_title_</h1><h1 class="feature-subheader">article_type_specification – Posted time</h1>
      <img src="/Photos/Features/structure_title/structure_titlefeature_image_path_extension" alt="structure_title" class="feature-image">
      <div class="feature-caption">Image: feature_image_source</div>
    </center>
    <p class="general"></p>
    <center>
      <star></star>
    </center>
  </body>
</html>
