<center>
  <div class="wide-flexbox-container">
    <a href="/Features/structure_title" class="feature-link" title="structure_title article_type">
      <img src="/Photos/Features/structure_title/structure_title%20Widewide_image_path_extension" alt="structure_title Synopsis" class="wide-synopsis-image">
    </a>
    <a href="/Features/structure_title" class="feature-link" title="structure_title article_type">
      <div class="wide-synopsis-container">
        <span class="synopsis-caption" style="float:right; text-align: right">Image: wide_image_source</span>
        <div style="float: left">
          <span class="wide-synopsis-header">_title_</span>
          <span class="synopsis-subheader">(article_type_specification)</span>
        </div>
        <div style="clear: both;"></div>
        <p class="wide-synopsis-body">
          wide_synopsis_text
        </p>
      </div>
    </a>
  </div>
</center>